{{ define "reservations_view" }}
{{ $DATE_FORMAT_OUT := "02/01/06 15:04" }}
{{ if .Reservations }}
{{/* style because of: https://github.com/DataTables/Responsive/issues/40 */}}
<table class="table" id="{{ .TableId }}" style="width: 100%">
  <thead>
    <tr>
      <th>Rezerwacja</th>
      {{ if not .HideItem }}<th>Nazwa</th>{{ end }}
      <th>Wypozyczenie</th>
      <th>Zwrot</th>
      {{ if .ShowUser }}<th>Uzytkownik</th>{{ end }}
      <th>Status</th>
      {{ if .ChangeRentalStatus }}<th>Nastepny Krok</th>{{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range .Reservations }}
    <tr>
      <td>
        {{ if contains "admin" $.UserInfo.Role }}<small><a href="/warehouse/admin/reservation/show?id={{ .ID }}">#{{ .ID }} - {{
            .CreatedAt.Format $DATE_FORMAT_OUT }}</a></small>
        {{ else }}<small>#{{ .ID }} - {{ .CreatedAt.Format $DATE_FORMAT_OUT }}</small>{{ end }}
      </td>
      {{ if not $.HideItem }}<td>
        {{ if contains "admin" $.UserInfo.Role }}
        <a href="/warehouse/admin/item/show?id={{ .Item.ID }}">{{ .Item.Name }}</a>
        {{ else }}{{ .Item.Name }}{{ end }}
      </td>
      {{ end }}
      <td>{{ .StartTime.Format $DATE_FORMAT_OUT }}</td>
      <td>{{ .EndTime.Format $DATE_FORMAT_OUT }}</td>
      {{ if $.ShowUser }}<td><a href="/users/admin/user/show?id={{ .User.ID }}">{{ .User.Name }}</a></td>{{ end }}
      <td>
        {{ $class := "" }}
        {{ $txt := "" }}
        {{ if eq .Status "pending" }}{{ $class = "badge badge-danger" }}{{ $txt = "Oczekujacy" }}
        {{ else if eq .Status "denied" }}{{ $class = "badge badge-secondary" }}{{ $txt = "Anulowany" }}
        {{ else if eq .Status "rented" }}{{ $class = "badge badge-primary" }}{{ $txt = "Wypozyczony" }}
        {{ else if eq .Status "returned" }}{{ $class = "badge badge-success" }}{{ $txt = "Zwrocony" }}
        {{ end }}
        {{ if and $.ChangeStatus}}
        <form method="POST" id="reservation_{{ .ID }}" action="javascript:void(0);">
          <input type="hidden" name="reservation_id" value="{{ .ID }}">
          <input type="hidden" name="url" value="{{ $.URL }}">
          <div class="form-group">
            <select class="form-control {{ $class }}" id="reservation_{{ .ID }}" name="status" onchange="javascript:setReservationStatus({{ .ID }}, 'reservation', this.value)" autocomplete=off>
              <option value="pending" {{ if eq .Status "pending" }}selected{{ end }}>Oczekujacy</option>
              <option value="denied" {{ if eq .Status "denied" }}selected{{ end }}>Anulowany</option>
              <option value="rented" {{ if eq .Status "rented" }}selected{{ end }}>Wypozyczony</option>
              <option value="returned" {{ if eq .Status "returned" }}selected{{ end }}>Zwrocony</option>
            </select>
          </div>
        </form>
        {{ else }}
        <span class="{{ $class }}">{{ $txt }}</span>
        {{ end }}
      </td>
      {{ if $.ChangeRentalStatus }}
      {{ if or (and (eq .Status "approved") (.StartTime.After (AddHours Now -6) ) (.StartTime.Before (AddHours Now 12)))
      (eq .Status "rented")
      }}
      <td>
        <form method="POST" id="rent_form_{{ .ID }}" action="javascript:setReservationStatus({{ .ID }}, 'rent_form')">
          <input type="hidden" name="reservation_id" value="{{ .ID }}">
          <input type="hidden" name="user_id" value="{{ .User.ID }}">
          {{ if (eq .Status "approved") }}
          <input type="hidden" name="status" value="rented">
          <button type="submit" class="btn btn-primary">Wydaj sprzęt</button>
          {{ else }}
          <input type="hidden" name="status" value="returned">
          <button type="submit" class="btn btn-primary">Przyjmij zwrot</button>
          {{ end }}
        </form>
      </td>
      {{ else }}<td></td>{{ end }}
      {{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    new DataTable('#{{ .TableId }}', {
      order: [[2, 'asc']],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/pl.json'
      },
      responsive: true,
    });
  });
  function setReservationStatus(reservationId, formPrefix, status=null) {
    var formData = $("#" + formPrefix + "_" + reservationId).serialize();
    if(status !== null){
      let params = new URLSearchParams(formData);
      params.set('status', status);
      formData = params.toString();
    }
    fetch('/warehouse/admin/setStatus', {
      method: 'PUT',
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body: formData,
    })
      .then(response => {
        if (response.ok) {
          alert("Zmieniono status rezerwacji");
        } else {
          error = response.statusText
          console.error('Error:', error);
          alert("UWAGA! Nie możesz zmienić statusu rezerwacji: " + error)
        }
        response.text()
      })
      .catch(error => {
        console.error('Network error:', error);
        alert("Błąd sieci: " + error);
      });
  }
</script>
{{ else }}
<p>Brak rezerwacji.</p>
{{ end }}
{{ end }}