<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wszystkie rezerwacje</title>
    {{ template "stylesInclude" dict "DataTables" true }}
    {{ template "scriptsInclude" dict "DataTables" true }}
</head>

<body>
    {{ template "navbar" .UserInfo }}
    <div class="container">
        <h2 class="my-3">Wszystkie rezerwacje</h2>
        {{ template "reservations_view" dict "Reservations" .Reservations "TableId" "DataTable-allReservations" "ChangeStatus" false "UserNameHyperLink" false "UserInfo" .UserInfo }}
    </div>
</body>

</html>