{{ define "big_tile" }}
<div class="big-news-tile" id="BigNews{{.newsData.ID}}">
    <div class="big-tile-date-column">
        <div>{{ .newsData.CreatedTimeMonth }}</div>
        <div>{{ .newsData.CreatedTimeDay }}</div>
    </div>
    <div class="big-tile-content-column">
        <div class="big-tile-header">{{ .newsData.Header }}</div>
        <div class="big-tile-author">{{ .newsData.Author }}</div>
        <div class="tile-text-content">{{ .newsData.Content }}</div>
    </div>
    {{if .UserInfo}}
        {{ if contains "ninja" .UserInfo.Role }}
        <button type="button" onclick="deleteNews({{ .newsData.ID }}, 'BigNews')">Delete</button>
        {{end}}
    {{end}}
    
</div>
{{end}}