{{ define "big_tile" }}
<div class="big-news-tile">
    <div class="big-tile-date-column">
        <div>{{ .CreatedTimeMonth }}</div>
        <div>{{ .CreatedTimeDay }}</div>
    </div>
    <div class="big-tile-content-column">
        <div class="big-tile-header">{{ .Header }}</div>
        <div class="big-tile-author">{{ .Author }}</div>
        <div class="tile-text-content">{{ .Content }}</div>
    </div>
</div>
<style>
    .big-news-tile {
        display: flex;
        border: 1px solid var(--orange);
        color:white;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 8px;
        overflow: hidden;
        background-color: var(--grey);
        font-family: Arial, sans-serif;
    }
    .big-tile-date-column {
        width: 50px;
        background-color: var(--orange);
        text-align: center;
        padding: 10px;
    }
    .big-tile-content-column {
        padding: 10px;
        flex: 1;
    }
    .big-tile-header {
        font-weight: bold;
        font-size: 1.2em;
    }
    .big-tile-author {
        font-style: italic;
        color: var(--light-grey);
        margin-top: 5px;
    }
</style>
{{end}}