/* General Styles */
a {
    color: #FAB702; /* Orange color for the link */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make the link text bold */
}

body {
    font-family: Dosis, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff; /* White font color */
    background-color: #191919; /* Black background */
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: #10171f;
    color: #ffffff; /* White font color */
    padding: 30px 6%;
    text-align: left;
    margin: 0 0x;
    display: flex;
    font-family: Dosis, sans-serif;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header .menu {
    float: right;
    align-items: center
}

/* Main Layout */
main {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.left-column {
    flex: 3;
    margin-right: 20px;
}

.right-column {
    flex: 1;
}

/* Tile Styles */
.tile {
    background-color: #202020;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.tile img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.tile h2 {
    margin-top: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0 0px;
    position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        flex: none;
        width: 100%;
        margin: 0;
    }
}