{{ define "scriptsHome" }}
<script>
  function createNews(newsType) {
    var formData = $("#new-news-form-" + newsType).serialize();
    fetch('/ninja/news', {
      method: 'POST',
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body: formData,
    })
      .then(response => {
        if (response.ok) {
          alert("Dodano wpis");
        } else {
          error = response.statusText
          console.error('Error:', error);
          alert("UWAGA! nie dodano wpisu: " + error)
        }
        response.text()
      })
      .catch(error => {
        console.error('Network error:', error);
        alert("Błąd sieci: " + error);
      });
  }
</script>
{{end}}