{{ define "small_tile" }}
<div class="small-news-tile">
    <div class="small-tile-header">
        News Header
    </div>
    <div class="tile-text-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    </div>
</div>
<style>

    .small-news-tile {
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid var(--orange);
        background-color: var(--grey);
        border-radius: 8px;
        overflow: hidden;
        font-family: Arial, sans-serif;
    }
    .small-tile-header {
        align-items: center;
        background-color: var(--blue);
        color: white;
        padding: 5px;
    }

</style>
{{end}}