<!DOCTYPE html>
<html>
	<head>
		<title>Wyszukaj Sprzet</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "stylesInclude" }}
    {{ template "scriptsInclude" }}
	</head>
	<body>
		{{ template "navbar" .UserInfo }}
		<div class="container">
			<h2 class="my-3">Wyszukaj Sprzet</h2>
			{{ if .Msg }}
			<div class="alert alert-danger">{{ .Msg }}</div>
			{{ end }}
      {{ define "searchForm" }}
      <form method="POST" action="/search">
        <div class="form-group row">
          <label for="start_time" class="col-sm-2 col-form-label">Wypozyczenie:</label>
          <div class="col-sm-10">
            <input type="datetime-local" id="start_time" name="start_time" class="form-control" value="{{ .StartTime.Format "2006-01-02T15:04" }}" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="end_time" class="col-sm-2 col-form-label">Zwrot:</label>
          <div class="col-sm-10">
            <input type="datetime-local" id="end_time" name="end_time" class="form-control" value="{{ .EndTime.Format "2006-01-02T15:04" }}" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Szukaj</button>
          </div>
        </div>
      </form>
      {{ end }}
			{{ template "searchForm" . }}
			{{ if .AvailableItems }}
			<h2 class="mt-5">Dostepny Sprzet:</h2>
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Filtruj" id="item-search-input">
				<div class="input-group-append">
					<button class="btn btn-primary" type="button" id="item-search-button" >Filtruj</button>
          <button class="btn btn-secondary" type="button" id="item-reset-button" >Resetuj</button>
				</div>
			</div>
			<div class="list-group" id="item-list">
				{{ range .AvailableItems }}
				<a href="#" class="list-group-item list-group-item-action item">
					<h4 class="mb-1">{{ .Name }}</h4>
					<p class="mb-1">{{ .Description }}</p>
					<p class="mb-1"><strong>ID:</strong> {{ .ID }}</p>
					<p class="mb-1"><strong>Type:</strong> {{ .Type }}</p>
					<div class="text">
						<form method="POST" action="/reserve">
							<input type="hidden" name="start_time" value="{{ $.StartTime.Format "2006-01-02T15:04" }}">
							<input type="hidden" name="end_time" value="{{ $.EndTime.Format "2006-01-02T15:04" }}">
							<input type="hidden" name="item_id" value="{{ .ID }}">
							<button type="submit" class="btn btn-primary">Rezerwuj</button>
						</form>
					</div>
				</a>
				{{ end }}
			</div>
			{{ end }}
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				// Filter the list on button click
				$("#item-search-button").on("click", function() {
					let filterValue = $("#item-search-input").val().toLowerCase();
					$(".list-group .list-group-item").each(function() {
						let text = $(this).text().toLowerCase();
						if (text.indexOf(filterValue) > -1) {
							$(this).show();
						} else {
							$(this).hide();
						}
					});
				});

				// Filter the list on enter key press
				$("#item-search-input").on("keypress", function(event) {
					if (event.which === 13) {
						event.preventDefault();
						$("#item-search-button").click();
					}
				});

				$("#item-search-input").keyup(function(event) {
          $("#item-search-button").click();
				});

				// Reset the filter
				$("#item-reset-button").on("click", function() {
					$("#item-search-input").val("");
					$(".list-group .list-group-item").show();
				});

			});

      $("#start_time, #end_time").on("change", function() {
        if (!moment($("#end_time").val()).isAfter($("#start_time").val(), 'second')) {
          const startTime = moment($("#start_time").val());
          const endTime = moment(startTime).add(1, "day");
          $("#end_time").val(endTime.format("YYYY-MM-DDTHH:mm"));
        } 
      });

		</script>
	</body>
</html>
