{{ define "users_row_view" }}
{{ $DATE_FORMAT_OUT := "02/01/06 15:04" }}
{{ if .Users }}
{{/* style because of: https://github.com/DataTables/Responsive/issues/40 */}}
<table class="table" id="{{ .TableId }}" style="width: 100%">
  <thead>
    <tr>
      <th>Imie</th>
      <th>Uprawnienia</th>
      <th>Godzinki</th>
      <th>Dostęp</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
   {{ range .Users }}
  <tr>
      <td>
        {{.Name}}
      </td>
      <td>
        <input type="text" placeholder="{{.Role}}" id="role-{{.ID}}" name="role">
      </td>
      <td>
        <input type="text" placeholder="{{ .Credits }}" id="credits-{{.ID}}" name="credits">
      </td>
      <td>
        <input type="checkbox" {{if .Enabled}}checked{{end}} id="enabled-{{.ID}}" name="enabled">
      </td>
      <td>
        <button type="button" class="btn btn-primary" onclick="userAction('{{.ID}}')">Aktualizuj</button>
      </td>
  </tr>
{{ end }}
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    new DataTable('#{{ .TableId }}', {
      order: [[2, 'asc']],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/pl.json'
      },
      responsive: true,
    });
  });
  function userAction( userId) {
    var formData = new FormData()
    var role = document.getElementById('role-' + userId);
    var credits = document.getElementById('credits-' + userId);
    var enabled = document.getElementById('enabled-' + userId);
    let params = new URLSearchParams(formData);
    if(role.value != ""){
      params.set('role', role.value);
    }
    if(credits.value != ''){
      params.set('credits', credits.value);
    }
    if(enabled.checked != ''){
      params.set('enabled', enabled.value);
    }
    params.set('ID', userId);
    
    formData = params.toString();

    fetch('/users/superAdmin/users', {
      method: 'PUT',
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body: formData,
    })
      .then(response => {
        if (response.ok) {
          alert("Zaktualizowano użytkownika");
          location.reload()
        } else {
          error = response.statusText
          console.error('Error:', error);
          alert("UWAGA! Nie możesz zmienić użytkownika: " + error)
        }
        response.text()
      })
      .catch(error => {
        console.error('Network error:', error);
        alert("Błąd sieci: " + error);
      });
  }
</script>
<p>Brak rezerwacji.</p>
{{ end }}
{{ end }}