<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dostepny sprzet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		{{ template "jq_head" }}

  </head>
  <body>
    {{ template "admin_navbar" }}
    <div class="container">
      <h2 class="my-3">Dostepny sprzet</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Items }}
          <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Description }}</td>
            <td>
              <form method="POST" action="/admin/item/status">
                <input type="hidden" name="id" value="{{ .ID }}">
                <div class="form-group">
									{{ $class := "badge badge-secondary" }}
									{{ if eq .Status "ok" }}{{ $class = "badge badge-success" }}{{ end }}
									{{ if eq .Status "broken" }}{{ $class = "badge badge-danger" }}{{ end }}
									{{ if eq .Status "hidden" }}{{ $class = "badge badge-secondary" }}{{ end }}
                  <select class="form-control {{ $class }}" name="status" onchange="this.form.submit()">
                    <option value="ok" {{ if eq .Status "ok" }}selected{{ end }}>OK</option>
                    <option value="broken" {{ if eq .Status "broken" }}selected{{ end }}>Zepsute</option>
                    <option value="hidden" {{ if eq .Status "hidden" }}selected{{ end }}>Ukryte</option>
                  </select>
                </div>
              </form>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>

