{{ $DATE_FORMAT_OUT := "02/01/06 15:04" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Szczegoly rezerwacji</title>
		{{ template "stylesInclude" dict "DataTables" true}}
		{{ template "scriptsInclude" dict "DataTables" true }}
	</head>
	<body>
		{{ template "admin_navbar" }}
		<div class="container">
			<h2 class="my-3">Rezerwacja #{{ .Reservation.ID }}</h2>
      <div class="card mb-3">
				<div class="card mb-3">
					<div class="card-header">
						<h4>{{ .Reservation.Item.Name }} ({{ .Reservation.Item.Type }})</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Przedmiot:</strong></div>
							<div class="col-sm-8 col-lg-10"><a href="/admin/item/show?id={{ .Reservation.Item.ID }}">{{ .Reservation.Item.Name }} ({{ .Reservation.Item.Type }})</a></div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Opis:</strong></div>
							<div class="col-sm-8 col-lg-10">{{ .Reservation.Item.Description }}</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Status:</strong></div>
							<div class="col-sm-8 col-lg-10">
								<div class="d-flex align-items-center">
									{{ template "reservationStatus" .Reservation }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Rozpoczecie:</strong></div>
							<div class="col-sm-8 col-lg-10">{{ .Reservation.StartTime.Format $DATE_FORMAT_OUT }}</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Zakonczenie:</strong></div>
							<div class="col-sm-8 col-lg-10">{{ .Reservation.EndTime.Format $DATE_FORMAT_OUT }}</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-lg-2"><strong>Utworzona:</strong></div>
							<div class="col-sm-8 col-lg-10">{{ .Reservation.CreatedAt.Format $DATE_FORMAT_OUT }}</div>
						</div>
					</div>
				</div>
			</div>

			<h3>Historia zmian</h3>
			{{ if .ReservationHistory }}
			<table class="table" id="DataTable-history">
				<thead>
					<tr>
						<th>Uzytkownik</th>
						<th>Status</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					{{ range .ReservationHistory }}
					<tr>
						<td>{{ .User.Name }}</td>
						<td>{{ .Status }}</td>
						<td>{{ .ChangeDate.Format $DATE_FORMAT_OUT }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
			{{ else }}
			<p>Brak historii zmian dla tej rezerwacji.</p>
			{{ end }}

		</div>
	</body>
</html>
