<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Logowanie</title>
    {{ template "stylesInclude" dict "DataTables" false}}
	</head>
	<body>
		<div class="container mt-5">
			<h1 class="text-center">Login</h1>
			{{ if .Msg }}
				<div class="alert alert-danger">{{ .Msg }}</div>
			{{ end }}
			<section class="container px2">
				<div class="clearfix">
				{{ range $name, $t := .Strategies }}
					{{ if eq $name "email" }}
						<h3><i class="fa fa-envelope"></i> Send me an email</h3>
						<form method="post" action="token">
							<input type="hidden" name="strategy" value="email">
							<label>Enter your email address below:</label>
							<input name="recipient" type="email" class="field block mb1"
								required placeholder="Email address">
							<button type="submit" class="btn btn-primary">Send</button>
						</form>
					{{ else if eq $name "debug" }}
					<h3><i class="fa fa-tty"></i> Emit to debug stdout</h3>
					<form method="post" action="token">
						<input type="hidden" name="strategy" value="debug">
						<label>Enter your name below:</label>
						<input name="recipient" type="text" class="field block mb1"
							required placeholder="Your name">
						<button type="submit" class="btn btn-primary">Send</button>
					</form>
					{{ else }}
						<h3>Unknown strategy "{{ $name }}"</h3>
					{{ end }}
					</div>
				{{ end }}
				</div>
			</section>
		</div>
	</body>
</html>

