<!DOCTYPE html>
<html>
<head>
	<title>Wyszukaj Sprzet</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		.row {
			margin-bottom: 10px;
		}
	</style>

	{{ template "jq_head" }}

</head>
<body>
  {{ template "user_navbar" }}
	<div class="container">
		<h2 class="my-3">Wyszukaj Sprzet</h2>
		{{ if .Msg }}
		<div class="alert alert-danger">{{ .Msg }}</div>
		{{ end }}
		<form method="GET" action="/search">
			<div class="form-group row">
				<label for="start_time" class="col-sm-2 col-form-label">Wypozyczenie:</label>
				<div class="col-sm-10">
					<input type="datetime-local" id="start_time" name="start_time" class="form-control" value="{{ .StartTime.Format "2006-01-02T15:04" }}" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="end_time" class="col-sm-2 col-form-label">Zwrot:</label>
				<div class="col-sm-10">
					<input type="datetime-local" id="end_time" name="end_time" class="form-control" value="{{ .EndTime.Format "2006-01-02T15:04" }}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10 offset-sm-2">
					<button type="submit" class="btn btn-primary">Szukaj</button>
				</div>
			</div>
		</form>
		{{ if .AvailableItems }}
			<h2 class="mt-5">Dostepny Sprzet:</h2>
			{{ range .AvailableItems }}
				<div class="row border rounded">
					<div class="col-md-4 col-lg-3 py-3 px-4">
						<h4>{{ .Name }}</h4>
						<p>{{ .Description }}</p>
					</div>
					<div class="col-md-8 col-lg-9 py-3 px-4">
						<form method="POST" action="/reserve">
							<input type="hidden" name="start_time" value="{{ $.StartTime.Format "2006-01-02T15:04" }}">
							<input type="hidden" name="end_time" value="{{ $.EndTime.Format "2006-01-02T15:04" }}">
							<input type="hidden" name="item_id" value="{{ .ID }}">
							<button type="submit" class="btn btn-primary">Rezerwuj</button>
						</form>
					</div>
				</div>
			{{ end }}
		{{ end }}
	</div>
</body>
</html>
