{{ $DATE_FORMAT_OUT := "02/01/06 15:04" }}
<!DOCTYPE html>
<html>
<head>
	<title>Panel Rezerwacji</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		.row {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
  {{ template "user_navbar" }}
	<div class="container">
		<h2 class="my-3">Twoje Rezerwacje</h2>
    {{ if .Reservations }}
    {{ range .Reservations }}
    <div class="row border rounded mb-3">
      <div class="col-md-4 col-lg-3 py-3 px-4">
        <h4>{{ .Item.Name }}</h4>
        <p>{{ .Item.Description }}<br/><small>{{ .CreatedAt }}</small></p>
      </div>
      <div class="col-md-8 col-lg-9 py-3 px-4">
        <p>Od {{ .StartTime.Format $DATE_FORMAT_OUT }} do {{ .EndTime.Format $DATE_FORMAT_OUT }}</p>
        <p>Status: 
        {{ if eq .Status "approved" }}
        <span class="badge badge-success">Zaakceptowany</span>
        {{ else if eq .Status "denied" }}
        <span class="badge badge-danger">Anulowany</span>
        {{ else }}
        <span class="badge badge-warning">Oczekujacy</span>
        {{ end }}
        </p>
      </div>
    </div>
    {{ end }}
    {{ else }}
    <p>Jeszcze nie ma zadnych rezerwacji.</p>
    {{ end }}
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

