<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Logowanie</title>
    {{ template "stylesInclude" dict "DataTables" false}}
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Login</h1>
          <h3><i class="fa fa-tty"></i>Konto nieaktywne</h3>
          <a>Skontaktuj się z administratorem aby aktywować konto</a>
          <a class="nav-link" href="/users/user/logout">Wyloguj</a>
        </div>
      </section>
    </div>
  </body>
</html>
