{{ $DATE_FORMAT_OUT := "02/01/06 15:04" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Manager</title>
    {{ template "stylesInclude" dict "DataTables" true}} {{ template
    "scriptsInclude" dict "DataTables" true }}

</head>

<body>

    <div id="listSection"></div>
    <div class="space-bar"></div>
    <div id="controlSection">
        <button class="itemTypeButton" item-type="kayak">Kajak</button>
        <button class="itemTypeButton" item-type="paddle">Wiosło</button>
        <button class="itemTypeButton" item-type="rope">Rzutka</button>
        <button class="itemTypeButton" item-type="life_jacket">Kamizelka</button>
        <button class="itemTypeButton" item-type="jacket">Kurtka</button>
        <button class="itemTypeButton" item-type="helmet">Kask</button>
        <button class="itemTypeButton" item-type="spray_skirt">Fartuch</button>
        <button class="itemTypeButton" item-type="wetsuit">pianka</button>
    </div>
    <div id="controlSection">
        <input type="text" id="equipmentInput" placeholder="ID sprzętu">
    </div>
    <div id="controlSection">
        <button class="inventoryButton" onclick="readFromInput()">Dodaj</button>
        <button id="filterButton" class="inventoryButton" onclick="filterList()">Filtruj</button>
        <button class="inventoryButton" onclick="sortTiles()">Sortuj</button>
        <button class="inventoryButton" onclick="downloadList()">Pobierz</button>
        <button class="inventoryButton" onclick="showMissing()">Sprawdź</button>
        <button class="inventoryButton" onclick="clearStorage()">Usuń wszystko</button>
        <a class="inventoryButton" href="/users/dashboard">Powrót</a>
    </div>

    <script>

        const TileData = Object.freeze({
            NAME: 'data-item-name',
            TYPE: 'data-item-type',
        });
        const INVENTORY = "inventory"
        const INPUT = "equipmentInput"
        const TileClass = Object.freeze({
            EXTRA: 'db-extra',
            DUPLICATE: 'duplicate',
            MISSING: 'missing',
            BASE: 'equipment-tile'
        });
        const Containers = Object.freeze({
            tiles: 'listSection',
        });
        const dbValues = JSON.parse("{{ .Json }}");
        let selectedItemType = null;

        loadPreviousInventory();
        showAllTiles();
        setUpItemTypeButtons();
        document.addEventListener('keydown', handleEnterBackspaceKeys);

        function handleEnterBackspaceKeys(e) {
            if (e.key === 'Enter') {
                readFromInput();
            } else if (e.key === 'Backspace') {
                let inputElement = document.getElementById(INPUT);
                if (inputElement) {
                    inputElement.value = inputElement.value.slice(0, -1);
                }
            }
        }

        function setUpItemTypeButtons() {
            const itemTypeButtons = document.querySelectorAll('.itemTypeButton');
            itemTypeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    itemTypeButtons.forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');
                    selectedItemType = this.getAttribute('item-type');
                });
            });
        }

        function loadPreviousInventory() {
            if (localStorage.getItem(INVENTORY) !== null) {
                let savedInventory = JSON.parse(localStorage.getItem(INVENTORY));
                const container = document.getElementById(Containers.tiles);
                savedInventory.forEach(data => {
                    addTile(data.Name, data.Type)
                });
            }
        }

        function saveInventory() {
            const container = document.getElementById(Containers.tiles);
            const buttons = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));
            const buttonsWithoutMissing = dbValues.filter(element => !buttons.some(button =>
                button.classList.contains(TileClass.MISSING)));
            const buttonData = Array.from(buttons).map(button => ({
                Name: button.getAttribute(TileData.NAME),
                Type: button.getAttribute(TileData.TYPE),
            }));
            localStorage.setItem(INVENTORY, JSON.stringify(buttonData));
        }

        function clearStorage() {
            localStorage.clear();
            location.reload();
        }

        function isDuplicate(item) {
            const container = document.getElementById(Containers.tiles);
            const buttons = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));
            const itemTypeTiles = buttons.filter(button => button.getAttribute(TileData.TYPE) === item.Type);
            const duplicates = itemTypeTiles.filter(button => button.getAttribute(TileData.NAME) === item.Name);
            return duplicates;
        }

        function isExtra(item) {
            const itemTypeDbItems = dbValues.filter(dbItem => dbItem.Type === item.Type);
            const duplicates = itemTypeDbItems.filter(dbItem => dbItem.Name === item.Name);
            return duplicates.length === 0;
        }

        function readFromInput() {
            if (!selectedItemType) {
                alert("Wybierz rodzaj sprzętu");
            } else {
                addEquipment(getInput().toUpperCase());
            }
        }

        function getInput() {
            const value = document.getElementById(INPUT).value.trim();
            document.getElementById(INPUT).value = '';
            return value;
        }

        function addEquipment(value) {
            if (value) {
                removeMissingTiles();
                showAllTiles();
                addTile(value, selectedItemType)
                sortTiles();
                saveInventory();
            }
        }

        function addTile(name, type) {
            const item = { Name: name, Type: type };
            const duplicates = isDuplicate(item);
            const extra = isExtra(item);
            const tile = addItemTile(item);
            if (duplicates.length > 0) {
                tile.classList.add(TileClass.DUPLICATE);
                duplicates.forEach(duplicate => {
                    duplicate.classList.add(TileClass.DUPLICATE);
                });
            }
            if (extra) {
                tile.classList.add(TileClass.EXTRA);
            }
        }

        function removeMissingTiles() {
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.MISSING}`));
            tiles.forEach(tile => {
                tile.remove();
            });
        }

        function sortTiles() {
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));

            tiles.sort((a, b) => {
                const typeA = a.getAttribute(TileData.TYPE);
                const typeB = b.getAttribute(TileData.TYPE);
                if (typeA < typeB) return -1;
                if (typeA > typeB) return 1;

                const nameA = a.getAttribute(TileData.NAME);
                const nameB = b.getAttribute(TileData.NAME);
                if (nameA < nameB) return -1;
                if (nameA > nameB) return 1;

                return 0;
            });

            container.innerHTML = '';
            tiles.forEach(button => {
                container.appendChild(button);
            });
        }

        function removeTile(tile) {
            if (tile.classList.contains(TileClass.MISSING)) {
                return
            }
            tile.remove();
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));

            const duplicates = isDuplicate({ Name: tile.getAttribute(TileData.NAME), Type: tile.getAttribute(TileData.TYPE) });
            if (duplicates.length === 1) {
                duplicates[0].classList.remove(TileClass.DUPLICATE);
            }
            saveInventory();
        }

        function filterList() {
            const button = document.getElementById("filterButton");
            const searchValue = getInput().toLowerCase();
            if (searchValue.length == 0) {
                if (button.classList.contains("active")) {
                    button.classList.remove("active")
                    showAllTiles();
                }
                return;
            }
            button.classList.add("active")
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));

            tiles.forEach(tile => {
                const type = tile.getAttribute(TileData.TYPE).toLowerCase();
                const name = tile.getAttribute(TileData.NAME).toLowerCase();
                if (type.includes(searchValue) || name.includes(searchValue)) {
                    tile.classList.remove('hidden');
                } else {
                    tile.classList.add('hidden');
                }
            });
        }

        function showAllTiles() {
            const button = document.getElementById("filterButton");
            button.classList.remove("active")
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));
            tiles.forEach(tile => {
                tile.classList.remove('hidden');
            });
        }

        function addItemTile(item) {
            const btn = document.createElement('button');
            btn.classList.add(TileClass.BASE);
            btn.setAttribute(TileData.TYPE, item.Type);
            btn.setAttribute(TileData.NAME, item.Name);

            const largeText = document.createElement('div');
            largeText.classList.add(TileData.NAME);
            largeText.textContent = item.Name;

            const smallText = document.createElement('div');
            smallText.classList.add(TileData.TYPE);
            smallText.textContent = item.Type;

            btn.appendChild(largeText);
            btn.appendChild(smallText);

            btn.addEventListener('click', function () {
                removeTile(this);
            });
            document.getElementById(Containers.tiles).appendChild(btn);
            return btn;
        }

        function showMissing() {
            removeMissingTiles();
            showAllTiles();
            const container = document.getElementById(Containers.tiles);
            const buttons = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));

            const missingItems = dbValues.filter(element => !buttons.some(button =>
                button.getAttribute(TileData.TYPE) === element.Type && button.getAttribute(TileData.NAME) === element.Name));

            missingItems.forEach(item => {
                const btn = addItemTile(item);
                btn.classList.add(TileClass.MISSING);
                container.appendChild(btn);
            });
        }

        function downloadList() {
            showAllTiles();
            saveInventory();
            const equipmentArray = [];
            const container = document.getElementById(Containers.tiles);
            const tiles = Array.from(container.querySelectorAll(`.${TileClass.BASE}`));

            equipmentArray.push('Type,Name,Status');

            tiles.forEach(tile => {
                const type = tile.getAttribute(TileData.TYPE);
                const name = tile.getAttribute(TileData.NAME);
                let status = '';

                if (tile.classList.contains(TileClass.MISSING)) {
                    status = 'Missing';
                } else if (tile.classList.contains(TileClass.DUPLICATE)) {
                    status = 'Duplicate';
                } else if (tile.classList.contains(TileClass.EXTRA)) {
                    status = 'Extra';
                }

                equipmentArray.push([type, name, status].join(','));
            });

            const csvContent = equipmentArray.join('\n');
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.href = url;
            a.download = 'inwentaryzacja_' + getTimeNow() + '.csv';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

            URL.revokeObjectURL(url);
        }

        function getTimeNow() {
            let currentDate = new Date();

            let hours = currentDate.getHours().toString().padStart(2, '0');
            let minutes = currentDate.getMinutes().toString().padStart(2, '0');
            let day = currentDate.getDate().toString().padStart(2, '0');
            let month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
            let year = currentDate.getFullYear();

            let formattedTime = `${hours}:${minutes}_${day}/${month}/${year}`;
            return formattedTime
        }

    </script>
</body>

</html>