{{ define "itemStatus" }}
  <form class="form-inline" method="POST" action="/warehouse/admin/item/status">
    <input type="hidden" name="id" value="{{ .ID }}">
    {{ $class := "badge badge-secondary" }}
    {{ if eq .Status "ok" }}{{ $class = "badge badge-success" }}{{ end }}
    {{ if eq .Status "broken" }}{{ $class = "badge badge-danger" }}{{ end }}
    {{ if eq .Status "hidden" }}{{ $class = "badge badge-secondary" }}{{ end }}
    <select class="form-control form-control-sm {{ $class }} btn-sm mr-sm-2" name="status" onchange="this.form.submit()">
      <option value="ok" {{ if eq .Status "ok" }}selected{{ end }}>OK</option>
      <option value="broken" {{ if eq .Status "broken" }}selected{{ end }}>Zepsute</option>
      <option value="hidden" {{ if eq .Status "hidden" }}selected{{ end }}>Ukryte</option>
    </select>
  </form>
{{ end }}
