<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wyszukaj Sprzet</title>
    {{ template "stylesInclude" dict "DataTables" true}}
    <style>
      .row {
        margin-bottom: 10px;
      }
    </style>
    {{ template "scriptsInclude" dict "DataTables" true }}
</head>

<body>
    {{ template "navbar" .UserInfo }}
    <div class="container">
        <h2 class="my-3">Historia twoich godzinek</h2>
    {{ template "credits_history_table" dict "CreditsHistory"
    .CreditsHistory "TableId" "DataTable-creditsHistory" }}
        </div>
</body>
</html>